<div class="pb-list-item pb-list-item-twitter pb-hidden" data-type="" data-id="{feed.id}" data-url="{feed.link}">
	<f:if condition="{feed.image}">
		<f:then>
			<div class="image" data-image-id="{feed.raw.object_id}" style="background-image: url({feed.image})"></div>
		</f:then>
		<f:else>
			<div class="image placeholder-image"></div>
		</f:else>
	</f:if>
	<f:if condition="{feed.text}">
		<span class="text">{feed.text}</span>
	</f:if>
	<div class="icon"></div>
	<a class="additional-info info-1" href="{feed.link}">
		{feed.raw.retweet_count}
	</a>
	<a class="additional-info info-2" href="{feed.link}">
		{feed.raw.favorite_count}
	</a>
</div>